* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f9;
  margin: 1rem;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.container {
  padding-bottom: 1rem;
}

.blog {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  height: 100%;
  transform: translateY(50px);
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 0.75fr 1.25fr 1.23fr; */
  /* grid-column: span 2; */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* padding: 0 15px 20px; */
}

.blog-img {
  width: 100%;
  height: 100%;
}

.blog-img > img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.blog-1 {
  width: 100%;
  height: 100%;
  border: 1px solid ebecf1;
  border-radius: 10px;
  background-color: #ebecf1;
  margin: 1rem;
  display: grid;
  justify-content: center;
  cursor: pointer;
  padding: 0 15px 20px;
}

.blog-1:hover {
  transform: scaleY(1.1);
  animation: pulsate 2s;
}

.span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 15rem; */
  font-size: 12px;
  font-weight: 900;
  /* color: rgb(6, 6, 6); */
  font-family: "Supreme", sans-serif;
  margin-right: 1rem;
  transform: translateY(40%);
  position: relative;
}

.span > span:nth-of-type(1) {
  color: #3769fe;
  font-family: "Supreme", sans-serif;
  position: absolute;
  top: 10%;
  right: 18px;
}
.span > span:nth-of-type(2) {
  color: #fe7e37;
  position: absolute;
  top: 10%;
  left: 18px;
}

.blog-mini {
  display: grid;
  /* flex-direction: column; */
  gap: 0.2rem;
}

.blog-span {
  display: flex;
  /* gap: 1rem; */
  margin-left: 20px;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.blog-span > p:nth-of-type(1) {
  color: #fe7e37;
  border: 2px solid black;
  font-size: 12px;
  line-height: 32px;
  border-radius: 20px;
  background: #000;
  text-align: center;
  width: 90px;
  height: 100%;
  font-family: "Supreme", sans-serif;
  font-weight: 600;
}

.blog-span > p:nth-of-type(2) {
  text-align: right;
  line-height: 32px;
  font-family: "Supreme", sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  margin-right: 20px;
}

.blog-mini > h1 {
  font-family: "Clash Display", sans-serif;
  color: #000;
  /* color: red; */
  /* font-weight: 600; */
  font-size: 30px;
  text-align: left;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 900;
  text-transform: capitalize;
  /* padding: 1rem; */
  width: 100%;
}

.blog-mini > p {
  font-family: "Supreme", sans-serif;
  color: #000;
  /* font-weight: 600; */
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  /* font-weight: 900; */
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  text-align: left;
  width: 100%;
}

.blog-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  margin-top: 0.5rem;
}

.blog-img--2 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  /* background: tomato; */
  border-radius: 50%;
}

.auth-name > p:nth-of-type(1) {
  text-align: left;
  line-height: 22px;
  font-family: "Supreme", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

.auth-name > p:nth-of-type(2) {
  text-align: left;
  line-height: 32px;
  font-family: "Supreme", sans-serif;
  font-size: 14px;
  color: #fe7e37;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10rem;
}

.btn-0 {
  position: absolute;
  box-shadow: 0 20px 50px rgb(255 255 255 / 5%);
  border: none;
  width: 15%;
  height: 50px;
  overflow: hidden;
  z-index: 1;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-family: "Array", sans-serif;
  padding: 1rem;
}

.btn-0::before {
  position: absolute;
  width: 50%;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
  background: rgba(112, 189, 231, 0.1);
}

.btn-0:hover::before {
  background: rgba(112, 189, 231, 0.1);
  /* right: 20px; */
  left: 110px;
}

.btn-0 > span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fe7e37, #0176c3);
  animation: animate1 2s linear infinite;
  animation-delay: 1s;
}

.btn-0 > span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #fe7e37, #0176c3);
  animation: animate2 2s linear infinite;
  animation-delay: 2s;
  width: 1px;
  height: 100%;
}

.btn-0 > span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #fe7e37, #0176c3);
  animation: animate3 2s linear infinite;
  animation-delay: 3s;
  width: 100%;
  height: 1px;
}

.btn-0 > span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #fe7e37, #0176c3);
  animation: animate4 2s linear infinite;
  /* animation-delay: 0.3s; */
  width: 1px;
  height: 100%;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/* 
.spinner {
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #0176c3 94%, #0000) top/10px 10px
      no-repeat,
    conic-gradient(#0000 30%, #0176c3);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
} */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner > img {
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.btn > button {
  text-decoration: underline;
  color: #011bc3;
  font-size: 12px;
  transform: translateY(10px);
  text-transform: capitalize;
  cursor: pointer;
  font-family: "Clash Display", sans-serif;
  border: none;
}

.page-container {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100% !important;
  transform: translateY(0%);
}

.full_auth {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}

.full_auth > p:nth-last-of-type(1) {
  font-size: 12px;
  font-family: "Supreme", sans-serif;
  /* text-align: right; */
}

.full_auth > p:nth-last-of-type(2) {
  font-size: 14px;
  color: red;
  font-family: "Supreme", sans-serif;
  /* font-family: "Supreme", sans-serif; */
}

.page-container > h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Clash Display", sans-serif;
  color: #000;
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
  width: 850px;
  text-align: left;
}

.text {
  font-family: "Supreme", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  width: 950px;
  height: 100%;
  margin-bottom: 9rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* overflow: hidden; */
}

.cont-2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.cont-2 > h3 {
  transform: translateY(50px);
  font-size: 30px;
  font-family: "Clash Display", sans-serif;
  text-transform: capitalize;
  /* text-align: ; */
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    /* grid-column: span 2; */
  }

  .blog-img {
    padding: 1px;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
  }

  .blog-img > img {
    width: 100%;
    height: 100%;
    /* padding: 0.5rem; */
    /* transform: translateX(5px); */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
  }

  .blog-1 {
    width: 300px;
    height: 100%;
    /* padding: 0 15px 20px 15px; */
  }

  .span {
    margin-right: 0rem;
    gap: 9rem;
    transform: translateY(20%);
  }

  .page-container {
    transform: translateY(2%);
  }

  .page-container > h1 {
    font-size: 16px;
    width: 650px;
  }

  .text {
    width: 650px;
    transform: translateX(0%);
  }

  .btn-0 {
    width: 20%;
    height: 50px;
  }

  .btn-0:hover::before {
    left: 73px;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 0rem;
    /* overflow-x: hidden; */
  }

  .blog {
    grid-template-columns: repeat(1, 0fr);
    /* transform: translateX(20px); */
    /* left: 2px; */
  }

  .text {
    width: 365px;
    transform: translateX(6%);
    font-size: 14px;
    text-align: left;
  }

  .page-container {
    transform: translateY(0%);
  }

  .page-container > h1 {
    margin-top: 1rem;
    width: 89%;
    font-size: 14px;
    text-align: left;
    transform: translateX(25px);
    font-size: 16px;
  }

  .full_auth {
    transform: translateX(25px);
  }

  .full_auth > p:nth-last-of-type(1) {
    font-size: 10px;
  }

  .full_auth > p:nth-last-of-type(2) {
    font-size: 12px;
  }

  .btn-0 {
    width: 40%;
    height: 50px;
  }
}
