.contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  /* padding: 1rem; */
  /* gap: 20rem; */
  /* border: 2px solid red; */
  /* width: 50%; */
  /* height: 100px; */
  /* min-width: 300px; */
  /* left: 0px; */
  /* top: 2rem; */
}

.blob {
  background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px;
  height: 144px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: relative;
  /* position: absolute; */
  margin-bottom: 0rem;
  cursor: pointer;
}

.blob:before,
.blob:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(
    120deg,
    rgba(0, 67, 255, 0.55) 0%,
    rgba(0, 103, 255, 0.89) 100%
  );
}

.blob:before {
  animation: morph 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}

.blob:after {
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: 0.89;
  /* content: "Blog 🚀"; */
  line-height: 120px;
  text-indent: -21px;
  /* font-size: 28px;
  font-family: "Array", sans-serif; */
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

.blob > h1 {
  position: absolute;
  right: 35px;
  bottom: 20px;
  font-size: 18px;
  font-family: "Array", sans-serif;
  z-index: 1;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  transform: translateY(30px);
  /* position: absolute; */
  /* right: 10px; */
  /* bottom: 2rem; */
}

.socials > a {
  /* position: absolute; */
  text-align: left;
}

@media screen and (max-width: 768px) {
  .contain {
    /* gap: 25rem; */
  }
}

@media screen and (max-width: 600px) {
  .contain {
    margin-bottom: 2rem;
  }

  .blob {
    width: 110px;
    height: 100px;
    /* background-color: aqua; */
    border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
    box-shadow: inset 6px 33px 20px 0 #c9c9c9, inset 20px 80px 15px 0 #e0e0e0,
      10px 20px 20px 0px #c9c9c9;
    position: absolute;
    left: 10px;
    top: 0px;
    margin-bottom: 1rem;
  }

  .blob > h1 {
    position: absolute;
    right: 15px;
    bottom: 20px;
  }

  .socials {
    display: flex;
    gap: 2rem;
    transform: translateY(40px);
    /* position: absolute;
    top: 0; */
  }

  .socials > a {
    transform: translateX(250px);
  }
}
